body {
  --color-sky-lightest: #F9FAFB;
  --color-sky-light: #F4F6F8;
  --color-sky: #DFE3E8;
  --color-sky-dark: #C4CDD5;
  --color-ink-lightest: #919EAB;
  --color-ink-lighter: #637381;
  --color-ink-light: #454F5B;
  --color-ink: #212B36;
  --color-indigo-lighter: #F4F5FA;
  --color-indigo-light: #B3BCF5;
  --color-indigo: #5C6AC4;
  --color-indigo-dark: #202E78;
  --color-indigo-darker: #000639;
  --color-red-lighter: #FBEAE5;
  --color-red-light: #FEAD9A;
  --color-red: #DE3618;
  --color-red-dark: #BF0711;
  --color-red-darker: #330101;

  background-color: var(--color-sky-lightest);
  margin: 0;
}

main {
  background-color: white;
  box-shadow: 0 5px 10px 1px var(--color-sky);
  border-radius: 5px;
  color: var(--color-ink);
  display: grid;
  font-family: Roboto, sans;
  font-size: 16px;
  grid-template-columns: 100%;
  grid-gap: 1em;
  margin: 2em auto;
  max-width: 40em;
}

a {
  color: var(--color-indigo);
  text-decoration: none;
}

a:hover {
  color: var(--color-indigo-dark);
  text-decoration: underline;
}

header {
  background-color: red;
  min-height: 3em;
  width: 100%;
}

main article {
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 1em;
  padding: 1em;
}

main article section {
  text-align: center;
}

main section, img {
  max-width: 100%;
}

section#logo {
  margin: 0 auto;
  width: 15em;
}

section#contact {
  font-size: 150%;
  font-weight: bold;
}

section#flyers {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 1em;
  justify-items: center;
  margin-top: 1em;
  overflow: hidden; /* FIXME */
}

section#flyers img {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 1em;
  max-width: 14em;
  overflow: hidden; /* FIXME */
}

footer {
  background-color: var(--color-ink-light);
  color: var(--color-sky);
  font-size: 130%;
  padding: 1em;
}

footer .extra {
  float: right;
}

footer a {
  color: var(--color-ink-lightest);
  text-decoration: none;
}

footer a:hover {
  color: var(--color-ink-lighter);
  text-decoration: underline;
}
